 {{>Navbar}}
        <!-- main body -->
        <div class="container-fluid main_header">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Header -->
                    <div class="col-12 main_header_left align-items-center">
                        <figure class="err404img">
                            <img src="images/3819740.jpg" alt="about image" class="img-fluid"
                                title="Express Weather Services">
                        </figure>
                        <h1>The Page you are looking for does not <span class="text-clr">exist</span> in system</h1>
                        <a href="/"><button class="btn btn-primary btn-lg btn-rounded">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
 {{>Footer}}